include head.pug
include header-light.pug
include mixins.pug
main
    img(class='main-bg-img bg-img' src='/public/images/backgrounds/Vector (3).png')
    section(class='row main-page-block text-white g-0' id='main-page')
        h4 STREETSTER NATHAN #[br]
        h1(class='title') Comfortable and fast #[br] Your ideal for conquering the city
        a(class='btn-black rounded-0 mt-4 main-page-block__btn' href='#about') LEARN MORE
    div(class='container')
        section(id='categories' class='row categories py-5')
            a(class='title' href='/categories') Categories
            div(id='carouselExampleFade' class='carousel slide carousel-dark  carousel-fade' data-bs-ride='carousel')
                div(class='carousel-inner')
                    each value,index in categories
                        if(index === 0)
                            div(class='carousel-item active d-flex flex-column justify-content-center align-items-center p-4')
                                img(src=`/images/category-images/slider/${value['image']}` class='categorySliderElemBg' alt=`${value.name} image`)
                                div(class='slideContent')
                                    img(src=`/images/bikes/${value.goods[0].images[0].images.split(', ')[0]}` class='w-50' alt=`image of the new bike in the category ${value.name}`)
                                    a(href=`/category/${value['id']}` class='slide-elem-name') #{value['name'].toUpperCase()} #[br]
                        else
                            div(class='carousel-item d-flex flex-column justify-content-center align-items-center p-4')
                                img(src=`/images/category-images/slider/${value['image']}` class='categorySliderElemBg' alt=`${value.name} image`)
                                div(class='slideContent')
                                    img(src=`/images/bikes/${value.goods[0].images[0].images.split(', ')[0]}` class='w-50' alt=`image of the new bike in the category ${value.name}`)
                                    a(href=`/category/${value['id']}` class='slide-elem-name') #{value['name'].toUpperCase()} #[br]
                button(class='carousel-control-prev' data-bs-target='#carouselExampleFade' data-bs-slide='prev' type='button')
                    span(class='carousel-control-prev-icon' aria-hidden='true')
                    span(class='visually-hidden') Previous
                button(class='carousel-control-next' data-bs-target='#carouselExampleFade' data-bs-slide='next' type='button')
                    span(class='carousel-control-next-icon' aria-hidden='true')
                    span(class='visually-hidden') Next
        section(id='favorites' class='favorites py-3 px-4')
            h1(class='title') Selected products
            div(class='row mt-4')
                div(class='col-sm-12 col-md-6 bg-black main-elem d-flex justify-content-between flex-column align-items-end p-5 mt-2 favorites__item')
                    div(class='text-white favorites__text')
                        h3(class='smaller-title') Streetster Bakerstreet
                        p(class='text') speed coupled with convenience
                    img(src='/public/images/bikes/bike2.png' alt='favorite bike' class='favorites__img-bike' title='bike')
                    img(src='/public/images/icons/Subtract.png' alt='arrow right' class='arrow-right' onclick='window.location.href = \'../category/2\';')
                div(class='col-sm-12 col-md-5 d-flex justify-content-between flex-wrap text-white')
                    div(class='row text')
                        div(class='col-sm-12 col-md-5 bg-black p-4 d-flex flex-column justify-content-center align-items-center mt-2 favorites__item')
                            img(src='/public/images/accessories/product2.png' alt='favorite product Octane Helmet' title='Octane Helmet' class='w-50 favorites__img-accessory')
                            p Octane Helmet
                        div(class='col-sm-12 col-md-5 bg-black p-4 d-flex flex-column justify-content-center align-items-center mt-2 favorites__item')
                            img(src='/public/images/accessories/product1.png' alt='favorite product Canyon Protection' title='Canyon Protection' class='w-50 favorites__img-accessory')
                            p Canyon Protection
                    div(class='row text')
                        div(class='col-sm-12 col-md-5 bg-black p-4 d-flex flex-column justify-content-center align-items-center mt-2 favorites__item')
                            img(src='/public/images/accessories/product1.png' alt='favorite product Canyon Protection' title='Canyon Protection' class='w-50 favorites__img-accessory')
                            p Canyon Protection
                        div(class='col-sm-12 col-md-5 bg-black p-4 d-flex flex-column justify-content-center align-items-center mt-2 favorites__item')
                            img(src='/public/images/accessories/product2.png' alt='favorite product Octane Helmet' title='Octane Helmet' class='w-50 favorites__img-accessory')
                            p Octane Helmet
        section(class='row about py-5' id='about')
            p(class='large-text') <b>STREETSTER</b> – Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. #[br]
            p(class='large-text')
                |Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                |Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollitanim id est laborum.
        section(id='features' class='features py-5')
            img(class='bg-img' src='/public/images/backgrounds/Vector (2).png')
            h2(class='small-title') Streetster bicycles are...
            div(class='row pt-5')
                +featuresCard('/public/images/features-img/feat3.png', 'Ease of discussion', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit')
                +featuresCard('/public/images/features-img/feat1.png', 'Rugged construction', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit')
                +featuresCard('/public/images/features-img/feat2.png', 'High-quality parts', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit')
        section(id='news' class='news text-center')
            a(class='title' href='/news') News
            div(id='carouselExampleControls2' class='carousel carousel-dark slide' data-bs-ride='carousel')
                div(class='carousel-inner px-5' id='news-carousel')
                a(class='carousel-control-prev' href='#carouselExampleControls2' role='button' data-bs-slide='prev')
                    span(class='carousel-control-prev-icon' aria-hidden='true')
                    span(class='visually-hidden') Previous
                a(class='carousel-control-next' href='#carouselExampleControls2' role='button' data-bs-slide='next')
                    span(class='carousel-control-next-icon' aria-hidden='true')
                    span(class='visually-hidden') Next
        section(class='col-md-12 subscription my-5')
            form(class='subscription-form  d-flex flex-column justify-content-center align-items-center' name='subscription-form')
                h2(class='small-title') Subscribe to the newsletter
                input(type='email' class='subscription-form__field' pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$' placeholder='Email' name='subscription-form__email')
                input(class='btn-black rounded-0 subscription-form__btn' type='submit' value='SUBSCRIBE' name='subscription-form__submit')
include footer.pug
script.
    let categories = !{JSON.stringify(categories)}
    let news = !{JSON.stringify(news)}
include scripts.pug