include head.pug
include header-light.pug
include mixins.pug
main
    section(class='row main-page-block text-white g-0')
        h4 STREETSTER NATHAN #[br]
        h1(class='title') Удобный и быстрый #[br] Твой идеал для покорения города
        a(class='btn-black rounded-0 mt-4 main-page-block__btn' href='#about') УЗНАТЬ БОЛЬШЕ
    div(class='container')
        section(id='categories' class='row categories py-5')
            h1(class='title') Категории
            div(id='carouselExampleFade' class='carousel slide carousel-dark  carousel-fade' data-bs-ride='carousel')
                div(class='carousel-inner')
                    each value,index in goods
                        if(index === 0)
                            div(class='carousel-item active d-flex flex-column justify-content-center align-items-center p-4')
                                img(src=`/public/images/category-images/category-img${value['id']}.png` class='categorySliderElemBg')
                                div(class='slideContent')
                                    img(src=`${value['image']}` class='w-50')
                                    a(href=`/category/${value['id']}` class='slide-elem-name') #{value['categoryName']} #[br]
                        else
                            div(class='carousel-item d-flex flex-column justify-content-center align-items-center p-4')
                                img(src=`/public/images/category-images/category-img${value['id']}.png` class='categorySliderElemBg')
                                div(class='slideContent')
                                    img(src=`${value['image']}` class='w-50')
                                    a(href=`/category/${value['id']}` class='slide-elem-name') #{value['categoryName']} #[br]
                button(class='carousel-control-prev' data-bs-target='#carouselExampleFade' data-bs-slide='prev' type='button')
                    span(class='carousel-control-prev-icon' aria-hidden='true')
                    span(class='visually-hidden') Previous
                button(class='carousel-control-next' data-bs-target='#carouselExampleFade' data-bs-slide='next' type='button')
                    span(class='carousel-control-next-icon' aria-hidden='true')
                    span(class='visually-hidden') Next
        section(id='favorites' class='favorites py-3 px-4')
            h1(class='title') Избранные товары
            div(class='row mt-4')
                div(class='col-sm-12 col-md-6 bg-black main-elem d-flex justify-content-between flex-column align-items-end p-5 mt-2 ms-3')
                    div(class='text-white favorites__text')
                        h3(class='smaller-title') Streetster Bakerstreet
                        p(class='text') скорость соедененная с удобством
                    img(src='/public/images/bikes/bike2.png' alt='a bike' class='favorites__img-bike')
                    img(src='/public/images/icons/Subtract.png' alt='arrow' class='arrow-right' onclick='window.location.href = \'../category/2\';')
                div(class='col-sm-12 col-md-5 d-flex justify-content-between flex-wrap text-white')
                    div(class='row text')
                        div(class='col-sm-12 col-md-5 bg-black p-4 d-flex flex-column justify-content-center align-items-center mt-2 ms-3')
                            img(src='/public/images/accessories/product2.png' alt='product' class='w-50 favorites__img-accessory')
                            p Шлем Octane
                        div(class='col-sm-12 col-md-5 bg-black p-4 d-flex flex-column justify-content-center align-items-center mt-2 ms-3')
                            img(src='/public/images/accessories/product1.png' alt='product' class='w-50 favorites__img-accessory')
                            p Защита Canyon
                    div(class='row text')
                        div(class='col-sm-12 col-md-5 bg-black p-4 d-flex flex-column justify-content-center align-items-center mt-2 ms-3')
                            img(src='/public/images/accessories/product1.png' alt='product' class='w-50 favorites__img-accessory')
                            p Защита Canyon
                        div(class='col-sm-12 col-md-5 bg-black p-4 d-flex flex-column justify-content-center align-items-center mt-2 ms-3')
                            img(src='/public/images/accessories/product2.png' alt='product' class='w-50 favorites__img-accessory')
                            p Шлем Octane
        section(class='row about py-5' id='about')
            p(class='large-text') <b>STREETSTER</b> – Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                |sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. #[br]
            p(class='large-text')
                |Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                |Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollitanim id est laborum.
        section(id='features' class='features py-5')
            h2(class='small-title') Велосипеды Streetster это...
            div(class='row pt-5')
                +featuresCard('/public/images/features-img/feat3.png', 'Простота обсуживания', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit')
                +featuresCard('/public/images/features-img/feat1.png', 'Надежная конструкция', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit')
                +featuresCard('/public/images/features-img/feat2.png', 'Качественные детали', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit')
        section(id='news' class='news text-center')
            h1(class='title') Новости
            div(id='carouselExampleControls2' class='carousel carousel-dark slide' data-bs-ride='carousel')
                div(class='carousel-inner px-5')
                    div(class='carousel-item active')
                        div(class='row')
                            +news('/public/images/news/news-elem1.jfif', 'Лучшие аксессуары для стрит байков', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...')
                            +news('/public/images/news/news-elem1.jfif', 'Лучшие аксессуары для стрит байков', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...')
                            +news('/public/images/news/news-elem1.jfif', 'Лучшие аксессуары для стрит байков', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...')
                    div(class='carousel-item')
                        div(class='row')
                            +news('/public/images/news/news-elem1.jfif', 'Лучшие аксессуары для стрит байков', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...')
                            +news('/public/images/news/news-elem1.jfif', 'Лучшие аксессуары для стрит байков', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...')
                            +news('/public/images/news/news-elem1.jfif', 'Лучшие аксессуары для стрит байков', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...')
                a(class='carousel-control-prev' href='#carouselExampleControls2' role='button' data-bs-slide='prev')
                    span(class='carousel-control-prev-icon' aria-hidden='true')
                    span(class='visually-hidden') Previous
                a(class='carousel-control-next' href='#carouselExampleControls2' role='button' data-bs-slide='next')
                    span(class='carousel-control-next-icon' aria-hidden='true')
                    span(class='visually-hidden') Next
        section(class='col-md-12 subscription my-5')
            form(class='subscription-form  d-flex flex-column justify-content-center align-items-center')
                h2(class='small-title') Подпишитесь на новостную рассылку
                input(type='email' class='subscription-form__field' pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$' placeholder='yourE-mail@gmail.com')
                button(class='btn-black rounded-0 subscription-form__btn') ПОДПИСАТЬСЯ
include footer.pug
include scripts.pug