mixin footerInfo
    div(class='col-sm-6 col-md-2')
        ul #[b Information] #[br]
            li
                a(href='#about' class='footer-link') About us #[br]
            li
                a(href='#' class='footer-link') Contacts
mixin featuresCard(link, title, text)
    div(class='col-md-4 features-card px-5')
        img(src=link alt='service icon' class='features-img')
        h3(class='smaller-title')=title
        p(class='text')=text
mixin news(link, title, text, id)
    article(class='col-md-4 news-elem')
        img(src=link class='news-elem__content news-elem__img' alt='img')
        h3(class='smaller-title news__elem-content')=title
        p(class='small-text news__elem-content news-card__text')=text
        a(class='btn-white rounded-0 news-elem__content news-elem__btn d-inline-block w-100 border border-2 border-dark' href=`/news/${id}`) READ