include head.pug
include header-dark.pug
main(class='product-page')
    div(class='container')
        section(class='row')
            div( class='col-md-8 px-4 py-2 carousel carousel-dark slide product-images-carousel' id='product-images' data-bs-ride='carousel')
            div(class='col-md-4 product-info')
                h2(class='small-title product-info__elem') #{product.name}
                h3(class='smaller-title price product-info__elem') #{product.cost}$
                ul(class='large-text product-info__elem')
                    li
                        p(id='product-color-name')
                        ul(class='d-flex mb-4' id='colors-list')
                            each item, index in product.images
                                if(index === 0)
                                    li(style={background: `${item.color}`} class='product-info__elem-color product-info__elem-color_selected')
                                else
                                    li(style={background: `${item.color}`} class='product-info__elem-color')
                    li #[b Frame:] #{product.frame} (Growth #{product.growth}) #[br]
                    li #[b Wheel:] #{product.wheel} #[br]
                button(class='btn-black product-info__elem mt-4' id='addToCartBtn' data-product-id = product.id) Добавить в корзину
                a(class='btn-black product-info__elem mt-2 border border-2 border-dark' href='/order' id='orderAProduct') ЗАКАЗАТЬ
        section(class='row')
            div(class='col-md-6')
                h3(class='smaller-title') Description
                p(class='text product-description') #{product.description}
            div(class='col-md-6')
                h3(class='smaller-title') Reviews
                ul(id='reviews-list')
                    each item in product.reviews
                        li(class='product-review p-2')
                            div(class='review-header d-flex text-center')
                                h3(class='text fw-bold me-3') #{item.name}
                                div
                                    - for (let i = 0; i < item.evaluation; i++)
                                        img(src='/images/icons/star.png' class='mx-1 mb-3')
                            p(class='text') #{item.text}
                div(class='reviews-btns d-flex justify-content-between')
                    button(class='btn-black' id='leaveAReviewBtn') leave a review
                form(name='review-form' class='d-flex flex-column d-none p-2')
                    label(for='user-name') Name #[br]
                    input(type='text' placeholder='your name' id='user-name' class='mb-3' name='user-name')
                    label(for='product-evaluation') Evaluation #[br]
                    div(class='product-evaluation mb-3' id='product-evaluation')
                        i(class="star far fa-star")
                        i(class="star far fa-star")
                        i(class="star far fa-star")
                        i(class="star far fa-star")
                        i(class="star far fa-star")
                    label(for='review-text') Review #[br]
                    textarea(class='w-100 p-2 mb-3' placeholder='leave a review here' id='review-text' name='review-text')
                    input(type='submit' value='send review' class='w-25 btn-black mb-3' id='send-review')
include footer.pug
script.
    let productData = !{JSON.stringify(product)};
    let categoryGoods = null;
include scripts.pug